@import '../../styles/Common.scss';

.basketCotainer {
  @extend %flex-jutify-center;
  margin-bottom: 100px;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .basketContents {
    flex-direction: column;
    max-width: 1280px;
    min-width: 1100px;
    min-height: 1000px;

    .buyStepBox {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      width: 100%;
      height: 80px;
      background-color: black;

      .buyStep {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 24px;
        color: white;
      }
    }

    .buyStepBox li::after {
      margin: 0 35px;
      content: '>';
    }

    .buyStepBox li:last-child::after {
      content: none;
      margin: 0;
    }
  }

  .orderWayBox {
    @extend %flex-jutify-center;
    margin-top: 30px;
    width: 100%;
    height: 55px;

    .orderWay {
      @extend %flex-center;
      margin: 0 5px;
      width: 33.3%;
      border-bottom: 2px solid black;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .orderWrap {
    position: relative;
    width: 100%;
    margin-top: 60px;

    .orderLeft {
      float: left;
      width: calc(100% - 320px);

      .product,
      .quantity,
      .discount,
      .delivery,
      .payment,
      .delete {
        @extend %flex-center;
        font-size: 14px;
      }

      .quantity,
      .discount,
      .delivery,
      .payment {
        width: 120px;
      }

      .product {
        width: 305px;
        padding: 15px 0;
        .productName {
          width: 100px;
        }
        img {
          width: 75px;
          height: 100px;
          margin-right: 10px;
        }
      }

      .delete {
        width: 60px;
      }

      .dltProductBtnBox {
        .dltProductBtn {
          padding: 5px 20px;
          margin-bottom: 10px;
          border: 1px solid #ddd;
          background-color: white;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .orderContents {
        .orderMenuTitle {
          display: flex;
          border-top: 1px solid #666;
          border-bottom: 1px solid #666;
          height: 50px;
        }

        .productChkBtnBox {
          @extend %flex-center;
        }

        .orderMenu {
          display: flex;
          border-bottom: 1px solid #ddd;
          * {
            font-size: 12px;
          }

          .productName {
            min-height: 80px;
          }

          .quantity {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .quntityBtnBox {
              display: flex;

              .quantityCnt {
                margin: 0 10px;
                width: 40px;
                height: 30px;
                text-align: center;
                text-indent: 0px;
              }

              button {
                background-color: white;
                cursor: pointer;
                svg {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }

          .deliveryItem {
            background-color: #f8f8f8;
          }

          .price {
            font-weight: 700;
          }

          .delProductBtn {
            background-color: white;
            width: 15px;
            cursor: pointer;
            svg {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }

    .orderRight {
      float: right;
      position: static;
      margin-top: 40px;
      width: 280px;
      border: 1px solid black;
    }
  }
}
