.isView {
  display: none;
}
.isNotView {
  display: block;
}
.catagoryBox {
  display: flex;
  flex-direction: column;
}

.catagoryItem:hover {
  transform: scale(1.1);
}
.catagoryItem {
  font-size: 12px;
}
