@import './Styles/Common.scss';

.wrap {
  @extend %flex-center;

  nav {
    width: 260px;
    height: 400px;
    background-color: #000;
    position: fixed;
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .fixbar {
    width: 115px;
    height: 200px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
  }

  .content_product_detail {
    display: flex;
    justify-content: space-between;
    width: 1280px;
  }

  .img_wrap {
    width: 890px;

    img {
      width: 100%;
    }
  }

  .payment_wrap {
    width: 340px;
    padding-top: 50px;

    .payment_title {
      width: 100%;
      height: auto;
    }

    .product_name {
      font-size: 24px;
    }

    .product_code {
      font-size: 14px;
      color: #999;
      margin: 5px 0;
    }

    .product_price {
      font-size: 20px;
    }
  }

  .payment_benefit {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding: 30px 0;

    .payment_benefit_list {
      width: auto;
      height: 14px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 14px;
      position: relative;
      padding-left: 20px;
    }

    .text1,
    .text2,
    .text3 {
      &:before {
        width: 14px;
        height: 14px;
        background-color: #000;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 14px;
      }
    }

    .text1 {
      &:before {
        content: 'M';
      }
    }

    .text2 {
      &:before {
        content: 'C';
      }
    }

    .text3 {
      &:before {
        content: 'F';
      }
    }
  }

  .payment_option_wrap {
    padding: 20px 0;
    .payment_option_color {
      .payment_option_colorbox {
        @extend %flex-spacebetween;
        width: 100%;
        height: auto;

        .payment_option_title {
          font-size: 14px;
          padding-right: 30px;
        }

        .payment_color_listbox {
          display: flex;
          flex-wrap: wrap;
          width: 220px;
          margin-right: 40px;

          .payment_color_list {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            margin: 3px;

            a {
              cursor: pointer;

              img {
                width: 35px;
                height: 50px;
              }
            }
          }
        }
      }
    }

    .payment_option_size {
      @extend %flex-spacebetween;
      padding: 20px 0;

      .payment_option_title {
        font-size: 14px;
        padding-right: 30px;
      }

      .payment_size_listbox {
        display: flex;
        flex-wrap: wrap;
        width: 184px;

        .payment_size_list {
          button {
            width: 40px;
            height: 20px;
            margin: 3px;
            line-height: 10px;
            font-size: 12px;
            background-color: #fff;
            border: 1px solid #ddd;
            color: #666;
            cursor: pointer;
          }
        }
      }

      P {
        a {
          font-size: 13px;
          text-decoration: underline;
        }
      }
    }

    .payment_option_count {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .payment_option_title {
        font-size: 14px;
        padding-right: 60px;
      }

      .count_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;

        input {
          padding-left: 30px;
          width: 40px;
          height: 30px;
          border-radius: 0;
          background-color: #fff;
          border: 1px solid #ddd;
        }

        button {
          background-color: #fff;
          padding-top: 5px;
          cursor: pointer;

          svg {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }

    .payment_option_delivery {
      margin: 30px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .payment_option_title {
        font-size: 14px;
        padding-right: 60px;
      }

      .delivery_inner {
        label {
          margin: 0 10px;
        }
      }
    }
  }

  .button_wrap {
    width: 100%;
    margin-bottom: 20px;

    button {
      width: 100%;
      height: 50px;
      margin-bottom: 5px;
      background-color: #000;
      color: #fff;
      font-size: 14px;
      cursor: pointer;

      &:last-child {
        background-color: #fff;
        border: 1px solid #000;
        color: #000;
      }
    }
  }

  .payment_bottom {
    @extend %flex-spacebetween;

    li {
      font-size: 13px;
      a {
        font-size: 13px;
        text-decoration: underline;
      }
    }

    .icon_box {
      display: flex;
      align-items: center;

      button {
        background-color: #fff;
        cursor: pointer;

        svg {
          font-size: 20px;
        }
      }

      .heart {
        svg {
          margin-left: 20px;
        }
      }

      .heart_count {
        font-size: 13px;
        margin-left: 10px;
        padding-bottom: 7px;
      }
    }
  }
}
