@import '../../Styles/Common.scss';

.productReview {
  width: 100%;
  height: 500px;
  background-color: lavenderblush;
  margin-top: 40px;

  .reviewWrap {
    @extend %flex-spacebetween;

    .reviewTabMenu {
      width: 300px;
      @extend %flex-spacebetween;
    }

    .filter {
      background: none;
      border-radius: 0;
    }
  }
}
