.normalInputBox {
  display: flex;
  width: 750px;
  border-top: 1px solid black;
  th {
    display: flex;
    align-items: center;
    width: 200px;
    height: 70px;
    label {
      font-weight: 500;
    }
  }
  td {
    display: flex;
    width: 550px;
    padding: 10px 0;
    span {
      font-size: 11px;
    }
  }
  .idPwTd {
    flex-direction: column;
  }
}
