@import '../../../../../styles/Common.scss';

.sizeList {
  button {
    width: 40px;
    padding: 5px 0;
    margin: 3px;
    background-color: #fff;
    border: $lightgray;
    color: #666;
    line-height: 10px;
    font-size: 12px;
    cursor: pointer;
  }
  .selected {
    border: 1px solid #000;
  }

  .soldOut {
    background-color: #ddd;
    text-decoration: line-through;
  }
}
