@import '../../../styles/Common.scss';

.shoesCardLi {
  background-color: #fff;
  border: 0.5px solid #ddd;

  &:hover {
    position: absolute;
    border: 0.5px solid #000;
  }

  .defaultImg {
    width: 286px;
    height: 325px;
  }
  .hoverImg {
    width: 286px;
    height: 310px;
  }

  .bestItemInfo {
    font-size: 13px;
    text-align: center;

    .txtSize {
      display: flex;
      flex-flow: row wrap;
      width: 80%;
      margin: 20px auto 0 auto;
      padding: 10px;
      border-top: 1px solid #ddd;

      .txt {
        width: 20%;
        margin: 0 auto;
      }
    }
  }
}
