.accountBanner {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  height: 148px;

  .userFormBanner {
    margin: 0 220px;
    width: 100%;
    max-width: 1280px;

    .bannerLinkPaths {
      display: flex;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 14px;
    }

    .arrowIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
    }
  }
}
