@import '../../../styles/Common.scss';

.BestItem {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 120px 0;

  h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: $robotFont;
    font-style: italic;
    font-weight: bold;
  }

  .shoesCardUl {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
