@import '../../../styles/Common.scss';
.lastFilter {
  position: relative;
  .filterButtonOn {
    position: absolute;
    width: 650px;
    right: 0;
    top: 0;
    padding-top: 40px;
    line-height: 95px;
    border: 1px solid #000;
    background-color: #fff;

    .buttonSizebox {
      width: 550px;
      margin: 0 auto;
      padding-right: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #999;

      h3 {
        width: 100px;
        font-size: 14px;
        font-weight: bold;
      }

      .sizeClick {
        width: 360px;
        display: grid;
        grid-template-columns: 13% 13% 13% 13% 13% 13% 13% 13%;
        line-height: 25px;

        .checkSize {
          .size {
            margin: 0 5px;
            font-size: 13px;
          }
        }
      }
    }

    .buttonColor {
      width: 550px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #999;

      h3 {
        width: 100px;
        font-size: 14px;
        font-weight: bold;
      }

      .colorClick {
        width: 400px;
        display: flex;
        flex-flow: row wrap;

        .buttonImgTxt {
          display: flex;
          align-items: center;
          cursor: pointer;
          line-height: 40px;

          .buttonColorimg {
            width: 25px;
            height: 25px;
            border: 1px solid red;
          }
          .buttonColorimg {
            border: 0px;
          }
          .buttonColortxt {
            margin: 0 20px 0 5px;
            font-size: 13px;
          }
        }
      }
    }

    .buttonPrice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 550px;
      margin: 0 auto;
      border-bottom: 1px solid #999;

      h3 {
        width: 100px;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      width: 310px;
      margin: 0 auto;

      .reset {
        width: 150px;
        margin: 25px 0;
        padding: 8px 0;
        background: none;
        border: 1px solid #000;
        font-size: 13px;
      }

      .search {
        width: 150px;
        margin: 25px 0;
        padding: 8px 0;
        color: #fff;
        background: #000;
        border: 1px solid #000;
        font-size: 13px;
      }
    }
  }
}
