@import '../../../../styles/Common.scss';

.paymentTitle {
  width: 100%;
  height: auto;
}

.productName {
  font-size: 24px;
}

.productCode {
  margin: 5px 0;
  color: #999;
  font-size: 14px;
}

.productPrice {
  font-size: 20px;
}
