@import '../../../Styles/Common.scss';

.productReview {
  width: 100%;
  height: 500px;
  margin-top: 40px;

  .reviewWrap {
    @extend %flex-spacebetween;
    border-bottom: 1px solid #555;

    .reviewTabMenu {
      width: 300px;
      @extend %flex-spacebetween;

      li {
        padding: 10px 0;
        position: relative;

        &:first-child {
          &::after {
            display: none;
          }
        }

        &::after {
          width: 1px;
          height: 20px;
          background-color: #555;
          content: '';
          top: 14px;
          left: -20px;
          position: absolute;
        }

        .red {
          color: red;
        }
      }
    }

    .filter {
      background: none;

      select {
        border: none;
        border-radius: 0;
      }
    }
  }
}
