@import '../../styles/Common.scss';

.wrap {
  @extend %flex-center;
  margin: 0 220px;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 400px;
    background-color: #000;
    color: #fff;
    text-align: center;
    z-index: 10;
  }

  .fixbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 115px;
    height: 200px;
    background-color: #000;
  }
}
