@import '../../Styles/Common.scss';

.optionCount {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .paymentOptionTitle {
    font-size: 14px;
    padding-right: 60px;
  }

  .countWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;

    input {
      padding-left: 30px;
      width: 40px;
      height: 30px;
      border-radius: 0;
      background-color: #fff;
      border: 1px solid #ddd;
    }

    button {
      background-color: #fff;
      padding-top: 5px;
      cursor: pointer;

      svg {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
