@import '../../../../styles/Common.scss';

.optionSize {
  @extend %flex-spacebetween;
  padding: 20px 0;

  .paymentOptionTitle {
    padding-right: 30px;
    font-size: 14px;
  }

  .paymentSizeListbox {
    display: flex;
    flex-wrap: wrap;
    width: 184px;
  }

  a {
    font-size: 13px;
    text-decoration: underline;
  }
}
