@import '../../../../styles/Common.scss';

.optionColor {
  .paymentOptionColorbox {
    @extend %flex-spacebetween;

    .paymentOptionTitle {
      font-size: 14px;
      padding-right: 30px;
    }

    .paymentColorListbox {
      display: flex;
      flex-wrap: wrap;
      width: 220px;
      margin-right: 40px;
    }
  }
}
